@{
	ViewBag.Title = "Trang chủ";
}
<style>
	div {
		display: block;
	}

	html {
		-webkit-text-size-adjust: 100%;
	}

	.* {
		box-sizing: border-box;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	.image {
		max-width: 100%;
		max-height: 100%;
	}

	.box_html {
		background-color: #E6DDC4;
		background: #E6DDC4;
		color: #634000;
		padding: 15px;
		cursor: pointer;
		width: 100%;
		float: left;
		box-sizing: border-box;
	}

	.tit_html {
		font-size: 18px;
		font-family: Roboto-Medium;
		text-transform: uppercase;
		font-family: Roboto-Regular, sans-serif;
	}

	.icon_html {
		float: left;
		margin-right: 15px;
		background-repeat: no-repeat;
		background-position: left top;
	}

	.icon_html1 {
		background-image: url(https://vietthuong.vn/assets/frontend/images/icon_html1.png);
		width: 60px;
		height: 30px;
		margin-top: 5px;
		border: 10px;
	}

	.icon_html2 {
		background-image: url(https://vietthuong.vn/assets/frontend/images/icon_html2.png);
		width: 60px;
		height: 30px;
		margin-top: 5px;
		border: 10px;
	}

	.icon_html3 {
		background-image: url(https://vietthuong.vn/assets/frontend/images/icon_html3.png);
		width: 60px;
		height: 30px;
		margin-top: 5px;
		border: 10px;
	}

	.icon_html4 {
		background-image: url(https://vietthuong.vn/assets/frontend/images/icon_html4.png);
		width: 60px;
		height: 30px;
		margin-top: 5px;
		border: 10px;
	}

	.container {
		padding-left: 0px;
	}
</style>

<a class="banner" href="">
	<img class="image" src="https://vietthuong.vn/image/catalog/Baner/2023/samdanfender-ldp-t03.jpg" />
</a>

<div id="box_html">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a href="/mua-tra-gop">
					<div class="box_html">
						<div class="icon_html icon_html1"></div>
						<div class="cap_html">
							<div class="tit_html">trả góp</div>
							<div class="desc_html">Mua hàng lãi suất 0%</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="/chinh-sach-giao-hang">
					<div class="box_html">
						<div class="icon_html icon_html2"></div>
						<div class="cap_html">
							<div class="tit_html">Vận chuyển</div>
							<div class="desc_html">Chuyên nghiệp - Tốc độ</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="/chinh-sach-bao-hanh.html">
					<div class="box_html">
						<div class="icon_html icon_html3"></div>
						<div class="cap_html">
							<div class="tit_html">Bảo hành</div>
							<div class="desc_html">Hiệu quả - Chất lượng</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="/chi-nhanh">
					<div class="box_html">
						<div class="icon_html icon_html4"></div>
						<div class="cap_html">
							<div class="tit_html">đại Lý</div>
							<div class="desc_html">Trải rộng khắp Việt Nam</div>
						</div>
					</div>
				</a>
			</div>
		</div>

	</div>
</div>


